*{
    margin: 0;
    padding: 0;
}

body {
    /* background: url(https://i.ibb.co/RgK3HN3/hero-top-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
  width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    scroll-behavior: smooth;
} 
.active-nav{
    background-color: rgb(124, 124, 124);
   
}

